In [1]:
import yfinance as yf
import os

### Download stock history from Yahoo Finance

In [2]:
ticker = 'AAPL'
period = 'max'

In [3]:
df = yf.Ticker(ticker).history(period=period, prepost=True)
df = df.dropna()
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0

### Save dataframe to file

In [4]:
dir = ticker + '.json'
if os.path.exists(dir):
    os.remove(dir)
df.to_json(dir)